  
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body class="text-center">
        <div id=corpo-cad class="row" style="text-align: center;">
            <div class="align-middle" style="width: 16rem">
                <div class="card-body">
                    <h1>Ver mensagens</h1>
                    <form method="POST" action="../routes/index.php?action=MessageController&method=showMessage" >
                    <input type="submit" value="Submit">
                    </form>
                </div>
            </div>    
        </div>
    </body>
    </html>